# ForgeGradle
/.gradle
/build
/run
/libs
/eclipse

# Eclipse
.classpath
.project
/.settings
/bin

# IntelliJ
/.idea
*.iml
*.ipr
*.iws
/out

# Mac Stuff
.DS_Store
*.command

# Pam's Sources
/src/api/java/com/pam
src/api/resources

config/
saves/
logs/
asm/
.metadata
.directory
*.json
options.txt
1213309934